# Example: Compute Cost Matrix

In [1]:
import os
import sys
import random

import numpy as np
import pandas as pd

from osrmcpy import OSRM, Coordinate

In [2]:
# Matrix size (square matrix). Be aware of your hardware resources ;-)
N_LOCATIONS = 1000
MATRIX_SIZE = N_LOCATIONS**2
print(f'Matrix size is {MATRIX_SIZE:,}')

Matrix size is 1,000,000

In [3]:
DATA_DIR = '/usr/local/app/data'
OSRM_DATASET = os.path.join(DATA_DIR, 'test_ireland', 'ireland-and-northern-ireland-latest.osrm')

In [4]:
osrm = OSRM(OSRM_DATASET.encode('utf-8'), True)

In [5]:
bottom_left = Coordinate(id=None, longitude=-6.57013, latitude=53.23382)
top_right = Coordinate(id=None, longitude=-6.23988, latitude=53.39977)

In [6]:
random.seed(19)

In [7]:
random_coordinate = lambda n: Coordinate(id=n, longitude=random.uniform(bottom_left.longitude, top_right.longitude),
                                         latitude=random.uniform(bottom_left.latitude, top_right.latitude))

In [8]:
%time coordinates = [random_coordinate(i) for i in range(N_LOCATIONS)]

CPU times: user 3.03 ms, sys: 0 ns, total: 3.03 ms
Wall time: 3.04 ms

In [9]:
%time table = osrm.table(coordinates)

CPU times: user 6.14 s, sys: 74 ms, total: 6.22 s
Wall time: 6.21 s

In [10]:
%time df_table = pd.DataFrame(np.array(table).reshape(-1, 4), columns=['from', 'to', 'duration', 'distance'])

CPU times: user 296 ms, sys: 0 ns, total: 296 ms
Wall time: 295 ms

In [11]:
df_table.shape

(1000000, 4)

In [12]:
df_table.head(20)

    from    to     duration      distance
0    0.0   0.0     0.000000      0.000000
1    0.0   1.0   958.900024  14495.599609
2    0.0   2.0   796.000000  10953.500000
3    0.0   3.0  1323.699951  22439.599609
4    0.0   4.0  1239.599976  21438.000000
5    0.0   5.0  1231.699951  20603.599609
6    0.0   6.0  1592.900024  27868.900391
7    0.0   7.0  1285.199951  16983.199219
8    0.0   8.0  1490.400024  24902.099609
9    0.0   9.0  1454.500000  19182.800781
10   0.0  10.0   848.799988  11754.500000
11   0.0  11.0  1016.099976  10377.400391
12   0.0  12.0  1232.900024  19774.800781
13   0.0  13.0   958.599976  10062.900391
14   0.0  14.0  1101.199951  18005.900391
15   0.0  15.0   712.599976   7284.899902
16   0.0  16.0   614.700012   6193.700195
17   0.0  17.0  1467.199951  20369.300781
18   0.0  18.0   170.800003   1653.500000
19   0.0  19.0  1463.300049  22878.300781